.box {
  border-style: solid;
  border-width: 3px;
  border-color: blue;
  height: 250px;
  margin: 15px;
}

.testbtn {
  margin-left: 45px;
  margin-top: 15px;
}

#dispName01 {
  padding: 3px;
  margin-left: 25px;
  margin-top: 10px;
}

#dispName02 {
  padding: 3px;
  margin-left: 25px;
  margin-top: 10px;
}

#score01 {
  padding: 3px;
  margin-left: 20px;
  margin-top: 25px;
}

#score02 {
  padding: 3px;
  margin-left: 20px;
  margin-top: 25px;
}
